{% extends "site/base.html" %}
{% load static %}
{% block content %}
    {% include "site/partials/nav.html" %}
    <main class="w-[100%] lg:w-[60%] lg:px-[0.8rem] px-4 m-auto mt-[100px] mb-[2rem]">
        <section class="flex-col md:flex-row gap-[2rem] flex justify-between items-start md:items-center w-full my-[5rem]">
            <div class="md:max-w-[400px]">
                <h1 class="font-bold text-3xl text-[#3b5362] mb-[1rem]">
                    Customized invoicing templates 
                    and automatic reminders
                </h1>
                <p class="text-slate-500 font-medium mb-[1rem]">
                    Our Pay Bill button lets your customer 
                    initiate a payment in seconds.
                </p>
            </div>
            <div class="border border-slate-200">
                <img src="https://www.flywire.com/cdnimages/images/_640xAUTO_crop_center-center_65_none/invoice-1.jpg" alt="" class="">
            </div>
        </section>
        <section class="flex-col md:flex-row-reverse gap-[2rem] flex justify-between items-start md:items-center w-full my-[5rem]">
            <div class="md:max-w-[400px]">
                <h1 class="font-bold text-3xl text-[#3b5362] mb-[1rem]">
                    Easy invoice process 
                    and management
                </h1>
                <p class="text-slate-500 font-medium mb-[1rem]">
                    Saves you valuable time and effort.
                </p>
            </div>
            <div class="p-[3rem] bg-slate-300 w-full">
                <img src="https://www.flywire.com/cdnimages/images/_640xAUTO_crop_center-center_65_none/Overview.png" alt="" class="">
            </div>
        </section>
        <section class="flex justify-center items-center w-full my-[5rem]">
            <div class="space-y-4">
                <h1 class="font-bold text-3xl text-[#3b5362] ">
                    Why your customers will love it too
                </h1>
                <p class="text-slate-500 font-medium mb-[1rem] flex items-center gap-[1rem]">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_190_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="3" width="25" height="18">
                            <path d="M2 13.5L6 17.5L16.75 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="black" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                        </mask>
                        <g mask="url(#mask0_190_50)">
                            <path d="M24 0H0V24H24V0Z" fill="currentColor"/>
                        </g>
                    </svg>
                    Familiar and trustworthy payment methods
                </p>
                <p class="text-slate-500 font-medium mb-[1rem] flex items-center gap-[1rem]">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_190_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="3" width="25" height="18">
                            <path d="M2 13.5L6 17.5L16.75 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="black" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                        </mask>
                        <g mask="url(#mask0_190_50)">
                            <path d="M24 0H0V24H24V0Z" fill="currentColor"/>
                        </g>
                    </svg>
                    Competitive exchange rates
                </p>
                <p class="text-slate-500 font-medium mb-[1rem] flex items-center gap-[1rem]">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_190_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="3" width="25" height="18">
                            <path d="M2 13.5L6 17.5L16.75 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="black" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                        </mask>
                        <g mask="url(#mask0_190_50)">
                            <path d="M24 0H0V24H24V0Z" fill="currentColor"/>
                        </g>
                    </svg>
                    Payment status tracking and alerts
                </p>
                <p class="text-slate-500 font-medium mb-[1rem] flex items-center gap-[1rem]">
                    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_190_50" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="3" width="25" height="18">
                            <path d="M2 13.5L6 17.5L16.75 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="black" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                            <path d="M7.5 13.5L11.5 17.5L22.25 6.75" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="24 24"/>
                        </mask>
                        <g mask="url(#mask0_190_50)">
                            <path d="M24 0H0V24H24V0Z" fill="currentColor"/>
                        </g>
                    </svg>
                    Around the clock expert support
                </p>
            </div>
            
        </section>
    </main>

    {% include "site/partials/footer.html" %}
{% endblock %}